<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java View</title>
</head>

<body>
    <form action="/jav" method="post">
        <label for="inputValue">Enter a ID JAV:</label>
        <input type="text" id="inputValue" name="inputValue" required>
        <button type="submit">Submit</button>
    </form>
    <%= title %>
        <!-- <img src="/images/h_139dotm014jp-1.jpg" alt="Ảnh Test"> -->
</body>

</html>