<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java View</title>
</head>

<body>
    <form action="/jav" method="post">
        <label for="inputValue">Enter a ID JAV:</label>
        <input type="text" id="inputValue" name="inputValue" required>
        <button type="submit">Submit</button>
    </form>
    <div>
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <h3 style="margin: 0; font-size: 16px;">Status:</h3>
            <span>
                <%= status %>
            </span>
        </div>
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <h3 style="margin: 0; font-size: 16px;">ID:</h3>
            <span>
                <%= ID %>
            </span>
        </div>
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <h3 style="margin: 0; font-size: 16px;">Data:</h3>
            <span>
                <%= data %>
            </span>
        </div>
    </div>
    <!-- <img src="/images/h_139dotm014jp-1.jpg" alt="Ảnh Test"> -->
</body>

</html>